.project-container {
    display: flex;
    /* border:#8161ad 1px solid; */
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin: 20px;
    margin-top: 100px;
    padding: 20px 120px;

}
.project-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    padding: 10px 20px;

}
.violet-project {
    margin-left: 10px;
    color: #8161ad;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
      
  }
  
  .card {
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 10px;
    width: calc(33.33% - 70px);
    height: 400px;
    margin-bottom: 50px;
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  }
  
  .card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1rem;
    color: #666;
  }

  @media (max-width: 768px) {
    .card {
      width: calc(50% - 10px);
    }
  }
  
  @media (max-width: 576px) {
    .card {
      width: calc(100% - 10px);
    }
}